* {
    box-sizing: border-box;
}
#eds-snap-panel {
    position: fixed;
    width: 375px;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    border-left: 1px solid #ccc;
    padding: 0;
    z-index: 9998;
    overflow: auto;
}
#eds-snap-panel-root {
    position: relative;
    height: 100%;
}

#panel-header {
    padding: 16px 16px;
    height: 64px;
    background-color: var(--eds-color-green-10);
}

#panel-header img {
    width: auto; 
    height: 32px;
}

#close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
}

#eds-snap-panel-content {
    padding: 20px 16px;
}

#panel-score {
    border-bottom: 1px solid var(--eds-brand-color-border-base);
}

.result {
    padding: 16px;
    margin: 14px;
    border-radius: 12px;
    border: 1px solid var(--eds-brand-color-border-base);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

footer {
    width: 100%;
    background-color: var(--eds-brand-color-border-base);
    position: fixed;
    bottom: 0;
    height: 64px;
    padding: 16px 32px;
}
footer button {
    background-color: var(--eds-color-green-10);
    color: var(--eds-color-green-100);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.eds-snap-highlight {
    box-shadow: inset 0px 0px 2px 2px rgba(0,255,0,1) !important;
}

.snap-checker--positive {
    box-shadow: inset 0px 0px 2px 2px rgba(0,255,0,1) !important;
} 
 
.snap-checker--negative { 
    box-shadow: inset 0px 0px 2px 2px rgba(255,0,0,1) !important;
} 
 
.snap-checker--positive-emphasis { 
    box-shadow: inset 0px 0px 2px 2px rgb(196, 250, 0) !important;
} 
 
.snap-checker--negative-emphasis { 
    box-shadow: inset 0px 0px 2px 2px rgb(255, 145, 0) !important;
}